html, body {
    margin: 0 auto;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    background-image: url('./images/lightgreybackground.svg');
    background-size: cover;
    background-repeat: no-repeat;
    color: #2d2d2d;
    min-height: 100vh;
    max-width: 400px;
    font-size: 1.1rem;
}

h4 {
    margin-bottom: 0.5em;
}

nav {
    display: flex;
    align-items: center;
    justify-content: right;
    color: #2d2d2d;
    font-weight: 400;
    padding: 1em;
    gap: 0.5em;
    font-size: 1rem;
    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.1);
}

.page-title {
    margin-right: auto;
}

li {
    list-style: none;
    display: flex;
    cursor: pointer;
}

li:hover {
    border-bottom: 3px solid #f5e559;
    cursor: pointer;
}

h2 {
    margin: 5em 0 1em 0;
}

.second-title {
    text-align: center;
    width: fit-content;
    margin: 2.5em auto;
    border-bottom: 3px solid #fbae3c;
}

.scroll-text {
    margin-bottom: 2em;
}

span {
    margin-bottom: 0.5em;
}

a {
    position: relative;
    top: 0;
    transition: top ease 0.2s;
    text-decoration: none;
    color: #2d2d2d;
}

a:hover {
    cursor: pointer;
    top: 3px;
}

section {
    text-align: center;
    padding: 0 1em;
}

.view-work {
    border: 1px solid #fbae3c;
    color: #fbae3c;
    background-color: transparent;
    padding: 0.6em 1em;
    font-size: 1.05rem;
    position: relative;
    top: 0;
    transition: top ease 0.5s;
    letter-spacing: 0.03em;
}

.view-work:hover {
    cursor: pointer;
    top: 5px;
}

.img-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

img {
    padding-bottom: 5px;
}

.projects-container {
    display: flex;
    flex-direction: column;
    margin-bottom: 1em;
}

.project-img img {
    width: 50%;
    background: #f7f7f7;
    border: 1px solid #e6e6e6;
    border-radius: 10px;
    padding: 1em;
    margin-bottom: 1em;
}

.project-img img:hover {
    box-shadow: 2px 4px 5px rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

.project-info {
    display: flex;
    flex-direction: column;
    margin-bottom: 3em;
}

.project-info a {
    border-bottom: 3px solid #fbae3c;
    margin-bottom: 0.5em;
}

.project-text {
    font-size: 0.9rem;
    border-bottom: 1px solid transparent;
    padding-left: 0.3em;
    margin: 0 0 1em 0;
    font-weight: 500;
}

footer {
    background-color: #2d2d2d;
    color: #fff;
    padding: 0.5em 1.5em 1em 1.5em;
    margin: 0;
}

.footer-container {
    display: flex;
    gap: 80px;
    margin: 0;
}

footer li {
    margin: 0;
    display: list-item;
    font-weight: 400;
    font-size: 0.8rem;
    list-style-type: disc;
}

footer li:hover {
    border-bottom: 3px solid #fbae3c;
    cursor: pointer;
}


footer h3 {
    margin: 0;
    width: fit-content;
    border-bottom: 3px solid #fbae3c;
    font-size: 1rem;
}

.footer-imgs {
    width: 20%;
    margin-top: 1em;
}

footer p {
    margin: 0;
}

footer span {
    color: #f7b149;
}

.copyright {
    margin: 0;
    text-align: center;
    font-size: 0.9rem;
}

ul {
    padding-left: 1em;
    margin: 0.5em 0;
}