html,
body {
    margin: 0 auto;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    background-image: url('./images/lightgreybackground.svg');
    background-size: cover;
    background-repeat: no-repeat;
    color: #2d2d2d;
    min-height: 100vh;
    width: 100vw;
    font-size: 1.1rem;
    scroll-behavior: smooth;
}

/*---------------  Typography ----------------------*/

h1 {
    margin: 3em 0 1.5em 0;
    font-size: 2.5rem;
}

.second-title {
    text-align: center;
    width: fit-content;
    margin: 1.75em auto;
    border-bottom: 3px solid #fbae3c;
}

span {
    margin-bottom: 0.5em;
}

.normal-size {
    font-size: 1rem;
    font-weight: 400;
}

.orange {
    color: #fbae3c;
    filter: contrast(1.75);
    font-weight: 600;
}

.blue {
    color: #61dbfb;
    filter: contrast(1.75);
    font-weight: 600;
}

/*--------------- Nav bar ----------------------*/


nav {
    display: flex;
    align-items: center;
    justify-content: right;
    color: #2d2d2d;
    font-weight: 400;
    padding: 0.85em;
    gap: 0.5em;
    font-size: 1rem;
    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.1);
}

.logo {
    margin: 0 auto 0 0;
    font-size: 1.1rem;
    font-weight: 600;
}


li {
    list-style: none;
    display: flex;
    cursor: pointer;
}

li:hover {
    border-bottom: 3px solid #f5e559;
    cursor: pointer;
}

a {

    text-decoration: none;
    color: #2d2d2d;
}

a:hover {
    cursor: pointer;
}

/*--------------- Header Styles ----------------------*/


section,
header {
    text-align: center;
    padding: 0 1em;
}

header {
    animation-duration: 2.3s;
    animation-name: hide;
    animation-iteration-count: 1;
    animation-direction: normal;
}

@keyframes hide {
    from {
        opacity: 0%;
    }
    to {
        opacity: 100%;
    }
}

a .view-work {
    color: #fbae3c;
    font-weight: 600;
    filter: contrast(1.75);
}

.view-work {
    border: 2px solid #fbae3c;
    background-color: transparent;
    padding: 0.75em 1em;
    font-size: 1.05rem;
    letter-spacing: 0.03em;
    font-weight: 600;
}


.view-work:hover {
    cursor: pointer;
    animation-duration: 0.7s;
    animation-name: change-size;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes change-size {
    from {
        border-radius: 0;
    }
    to {
        border-radius: 50%;
    }
}

/*--------------- Languages section ----------------------*/

.languages-container {
    max-width: 350px;
    margin: 0 auto;
    display: grid;
    grid-template-rows: repeat(2, auto);
    grid-auto-flow: column;
}

.languages-container p {
    font-size: 0.7rem;
    margin: 0;
}


/*--------------- Project Styles ----------------------*/

.projects-container {
    display: flex;
    flex-direction: column;
    margin-bottom: 1em;
    align-items: center;
}

.project-img img {
    max-width: 50%;
    background: #f7f7f7;
    border: 1px solid #e6e6e6;
    border-radius: 10px;
    padding: 1em;
    margin-bottom: 1em;

}

.project-img img:hover {
    box-shadow: 2px 4px 5px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    background-color: #f7b149;

}

.project-info {
    display: flex;
    flex-direction: column;
    margin-bottom: 1em;

}

.project-info a {
    border-bottom: 3px solid #fbae3c;
    margin-bottom: 0.5em;
}

.project-text {
    font-size: 0.9rem;
    border-bottom: 1px solid transparent;
    padding-left: 0.3em;
    margin: 0 0 1em 0;
    font-weight: 500;

}

/*---------------- Modal Styles -----------------------------*/
.modal {
    display: none;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    height: 250px;
    width: 320px;
    border-radius: 5px;
    box-shadow: 5px 5px 6px 2px #cacaca;
    background-color: #fff;
    color: #2d2d2d;
}

.modal h3 {
    text-align: center;
}

.modal p {
    padding: 1em;
    margin: 0;
    text-align: center;
    font-size: 0.85rem;
}

.modal-btn {
    background-color: #fbae3c;
    color: #fff;
    font-weight: 600;
    font-size: 0.95rem;
    padding: 12px 35px;
    border: none;
    border-radius: 8px;
    display: block;
    margin: 0 auto;
}

.modal-btn:hover{
    background-color: #fff;
    color: #fbae3c;
    cursor: pointer;
    border: 2px solid #fbae3c;
}

/*--------------- Footer Styles ----------------------*/


footer {
    background-color: #2d2d2d;
    color: #fff;
    padding: 0.5em 1.5em 1em 1.5em;
}

.footer-container {
    display: flex;
    gap: 80px;
    margin: 0;
}

footer li {
    margin: 0;
    display: list-item;
    font-weight: 400;
    font-size: 0.7rem;
    list-style-type: disc;
}

footer a {
    color: #fff;
}

footer li:hover {
    border-bottom: 3px solid #fbae3c;
    cursor: pointer;
}


.quick-links {
    margin: 0;
    width: fit-content;
    border-bottom: 3px solid #fbae3c;
    font-size: 0.9rem;
}

.footer-imgs {
    width: 20%;
    margin-top: 1em;
}

footer p {
    margin: 0;
}

footer span {
    color: #f7b149;
}

.copyright {
    margin: 0;
    text-align: center;
    font-size: 0.9rem;
}

ol {
    padding-left: 1em;
    margin: 0.5em 0;
}

/*--------------- Form Syles ----------------------*/

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1em 1em 3em;
    border: 1px solid #fbae3c;
}

form span {
    display: flex;
    margin: 0;
}

label {
    display: block;
    margin: 0;
}

form button {
    margin: 2em;
}

textarea {
    resize: none;
    height: 100px;
    width: 220px;
}

form input {
    width: 220px;
    height: 20px;
}

form button {
    background-color: #fbae3c;
    color: #2d2d2d;
    font-weight: 600;
    font-size: 0.9rem;
    padding: 10px 14px;
    border: none;
    border-radius: 8px;
}

form button:hover {
    cursor: pointer;
    background-color: #2d2d2d;
    color: #fbae3c;
}

/*--------------- Min 480px media queries ----------------------*/

@media (min-width: 480px) {
    .languages-container {
        max-width: 400px;
    }

    .project-img img {
        width: 170px;
    }

    .project-text {
        margin: 0 auto;
        max-width: 400px;
        margin-bottom: 2em;
    }

    form {
        max-width: 350px;
        margin: 0em auto 3em auto;
    }

    form input {
        width: 250px;
        height: 20px;
    }

    textarea {
        resize: none;
        height: 120px;
        width: 250px;
    }

    .footer-container {
        display: flex;
        justify-content: space-evenly;
    }

    footer li {
        font-size: 0.8rem;
    }

    body {
        font-size: 1.19rem;
    }
}

/*--------------- Min 750px media queries ----------------------*/


@media (min-width: 850px) {
    .languages-container {
        max-width: 550px;
    }

    body {
        max-width: 1300px;
        font-size: 1.5rem;
    }

    .box p {
        font-size: 0.8rem;
    }

    .logo {
        font-size: 1.5rem;
    }

    .projects-container {
        margin: 0 auto;
        max-width: 850px;
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: repeat(4, auto);
        grid-auto-flow: column;
        grid-gap: 10px;
    }

    .project-img img {
        width: 150px;
        height: 180px;
    }

    p {
        margin: 0;
        padding: 0;
    }

    .project-text {
        margin: 0 auto;
        width: 550px;
        margin-bottom: 0em;
        font-size: 0.95rem;
    }

    span a {
        margin: 0;
        font-size: 1rem;
    }

    nav {

        font-weight: 400;
        padding: 1.3em 3.5em;
        gap: 1em;
        font-size: 1.2rem;
    }

    .view-work {
        font-size: 1.2rem;
    }

    form {
        margin: 0 auto 3em auto;
        max-width: 550px;
    }

    form input {
        width: 280px;
        height: 20px;
    }

    textarea {
        resize: none;
        height: 120px;
        width: 280px;
    }

    .footer-container {
        display: flex;
        justify-content: space-evenly;
    }

    footer li {
        font-size: 0.9rem;
    }

    .contact-info {
        margin-right: auto;
    }



}